#navigation{
  margin-left: 225px;
  margin-top: 8px;
}

#navigation a{
  font-family: sans-serif;
  font-style: normal;
  color: black;
  padding: 8px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: steelblue;
  color: white;
}

#chart1 h1{
  margin-left:225px ;
  font-family: sans-serif;
}
#chart2 h1{
  margin-left:210px ;
  font-family: sans-serif;
}
#chart3 h1{
  margin-left:210px ;
  font-family: sans-serif;
}
#chart4 h1{
  margin-left:210px ;
  font-family: sans-serif;
}


.hej:hover {
 fill:steelblue;
}

/*
***  Line chart **** 
*/ 

.line {
  fill: none;
  stroke-width: 2px;
}

.dots:hover:hover{
  fill: steelblue;
  
}


/*
***  BarChart2 **** 
*/
.bars3:hover{
  fill: steelblue;
}

.chart1{
  display: block;
}
.chart3{
  display: block;
}
.chart2{
  display: block;
}
.chart4{
  display: block;
}
.chart5{
  display: block;
}



.highlightedBar {  
  stroke-width: 0.4px;
  stroke: rgb(22, 21, 21);
  stroke-linejoin: bevel;
}

.tets:hover{
  fill: steelblue;

}
.id{
  fill: steelblue;
}

/*
***  Area chart **** 
*/

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
